version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      #interval: cron
      #cronjob: "10 * * * *"
    groups:
      github-actions:
        patterns:
          - "*"
