name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '42 * * * *'
  workflow_dispatch:

jobs:
  build-in-container:
    runs-on: ubuntu-latest
    container:
      image: python:3.14
    name: Run
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: szabgab/monitor@v1.01
        with:
          config: config/*.yaml
          #config:  config/*.json config/*.yaml



