name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '42 * * * *'
  workflow_dispatch:

jobs:
  build-in-container:
    runs-on: ubuntu-latest
    container:
      image: python:3.14
    name: Run
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Monitor
        run: |
            uv run monitor.py config/*.json config/*.yaml
